*{
    font-family: Noto Sans;
}

.verde {
    color: #01a78e;
}

.azul {
    color: #293651;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10vw;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 10vh;
    background: rgb(255,255,255);
    background: linear-gradient(45deg, rgba(255,255,255,1) 50%, rgba(1,167,142,1) 50%);
}   

img{
    width: 100%;
    height: auto;
}
.boton-1{
    background-color: #01a78e;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.sobre-mi{
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 10vh;
    background-color: #ffffff;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre cada barra de progreso */
}

.progress-bar label {
    font-weight: bold;
    margin-bottom: 5px; /* Espacio entre el label y la barra de progreso */
}

progress {
    width: 100%; /* Ajustar al ancho del contenedor */
    height: 20px; /* Ajusta la altura de la barra de progreso */
    appearance: none; /* Elimina los estilos por defecto del navegador */
}

progress::-webkit-progress-bar {
    background-color: #e0e0e0; /* Color del fondo de la barra */
    border-radius: 5px; /* Bordes redondeados */
}

progress::-webkit-progress-value {
    background-color: #4caf50; /* Color verde para el valor de la barra */
    border-radius: 5px; /* Bordes redondeados */
}

progress::-moz-progress-bar {
    background-color: #4caf50; /* Color verde para el valor de la barra en Firefox */
    border-radius: 5px; /* Bordes redondeados */
}

/* Opcional: Estilo para el contenedor */
.progress-bar {
    max-width: 600px; /* Ajusta el tamaño máximo del contenedor */
    margin: 20px auto; /* Centra el contenedor horizontalmente */
    padding: 10px;
    border: 1px solid #ccc; /* Borde alrededor del contenedor */
    border-radius: 10px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Fondo del contenedor */
}

.servicios{
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 10vh;
    background-color: #ffffff;
    text-align: center;
    
}

.contenedor-servicios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.caja-servicio{
    width: 200px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    color: #141414;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    font-size: 11px;
    
}

.icono-servicio{
    color: #ffffff;
    font-size: 35px;
    background-color: #01a78e;
    padding: 10px;
    border-radius: 20px 20px 0px 20px ;
}



.line {
    width: 60px;
    height: 2px;
    background-color: #28a197;
    margin: 0.5rem auto;
    position: relative;
}
.line::before, .line::after {
    content: "";
    width: 15px;
    height: 2px;
    background-color: #28a197;
    position: absolute;
    top: 0;
}
.line::before {
    left: -18px;
}
.line::after {
    right: -18px;
}

.portfolio{
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 10vh;
    background-color: #ffffff;
}

.contenedor-proyectos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.caja-proyecto{
    width: 25%;
    height: 300px;
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    color: #141414;
    border-radius: 5px;
    font-size: 11px;
}

.img-proyecto{
    width: 100%;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.header-portfolio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



