* {
    font-family: Noto Sans, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.verde {
    color: #01a78e;
}

.azul {
    color: #293651;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    top: 0;
    width: 100%;
    padding: 5px 20px;
    background-color: #bcd1ff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    z-index: 1000;
}

.logo {
    margin-left: 20px;
}

.logo h1{
    font-size: 18px;
}

.nav-bar {
    display: flex;
}

.nav-bar nav {
    display: flex;
    gap: 5px; /* Espacio entre los enlaces */
}

.nav-bar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
    position: relative;
    transition: color 0.3s ease;
}

.nav-bar a::before, .nav-bar a::after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 0;
    background: #ffffff;
    transition: width 0.3s;
}

.nav-bar a::before {
    bottom: -5px;
    left: 0;
}

.nav-bar a::after {
    bottom: -5px;
    right: 0;
    width: 10px;
}

.nav-bar a:hover::before, .nav-bar a:hover::after {
    width: 10px;
}

.nav-bar a:hover::before {
    width: 30px; /* Ajusta este valor según necesites */
}

.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 10vh;
    background: rgb(255,255,255);
    background: linear-gradient(60deg, rgba(255,255,255,1) 26%, rgba(255,255,255,1) 56%, rgba(0,167,142,1) 56%);
}  

.hero-img{
    display: flex ;
    align-self: flex-end;

}

img{
    display: flex ;
    align-self: flex-end;
    width: 100%;
    height: auto;
}
.boton-1{
    background-color: #01a78e;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.sobre-mi{
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 10vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.img-sobre-mi{
    flex:1;
}

 .img-sobre-mi img{
    width: 100%;
    height: auto;
    max-width: 300px;
} 

.main-sobre-mi {
    flex: 1; /* El texto ocupará más espacio que la imagen */
}

.hero-sobre-mi{
    display: flex;
    flex-direction: column;
}



.progress-bar {
    display: flex;
    flex-direction: column;
    gap: 2px; /* Espacio entre cada barra de progreso */
}

.progress-bar label {
    font-weight: bold;
    font-size: x-small;
    margin-bottom: 0px; /* Espacio entre el label y la barra de progreso */
}

progress {
    width: 100%; /* Ajustar al ancho del contenedor */
    height: 10px; /* Ajusta la altura de la barra de progreso */
    appearance: none; /* Elimina los estilos por defecto del navegador */
}

progress::-webkit-progress-bar {
    background-color: #e0e0e0; /* Color del fondo de la barra */
    border-radius: 5px; /* Bordes redondeados */
}

progress::-webkit-progress-value {
    background-color: #01a78e; /* Color verde para el valor de la barra */
    border-radius: 5px; /* Bordes redondeados */
}

progress::-moz-progress-bar {
    background-color: #01a78e; /* Color verde para el valor de la barra en Firefox */
    border-radius: 5px; /* Bordes redondeados */
}





.servicios{
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 10vh;
    background-color: #ffffff;
    text-align: center;
    
}

.contenedor-servicios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.caja-servicio{
    width: 200px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    color: #141414;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    font-size: 11px;
    
}

.icono-servicio{
    color: #ffffff;
    font-size: 35px;
    background-color: #01a78e;
    padding: 10px;
    border-radius: 20px 20px 0px 20px ;
}



.line {
    width: 60px;
    height: 2px;
    background-color: #28a197;
    margin: 0.5rem auto;
    position: relative;
}
.line::before, .line::after {
    content: "";
    width: 15px;
    height: 2px;
    background-color: #28a197;
    position: absolute;
    top: 0;
}
.line::before {
    left: -25px;
}
.line::after {
    right: -25px;
}

.portfolio{
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 10vh;
    background-color: #ffffff;
}

.contenedor-proyectos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.caja-proyecto{
    width: 25%;
    height: 300px;
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    color: #141414;
    border-radius: 5px;
    font-size: 11px;
}

.img-proyecto{
    width: 100%;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.header-portfolio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



